@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --cor-background:#00030C;
    --cor-fonte-tituloPrincipal:#FFFFFF;
    --cor-fonte-principal:#F9F9F9;
    --cor-fonte-descrição:#C0C0C0;
    --cor-fonte-botão:#FFFFFF;
    --cor-botãoAzul:#167BF7;
    --fonte-principal: 'Inter';
}

*{
 margin: 0;
 padding: 0;       
}

body{
    background-color: var(--cor-background);
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-principal);
}

.conteiner{
    height: 50rem;
}

.section1{
    background-image: url("./img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
    width: auto;
    height: 100vh;
}

.section1__conteudoEsquerdo__tituloPrincipal{
    color: var(--cor-fonte-tituloPrincipal);
    font-weight: 700;
    font-size: 28px;
}


.section1__conteudoEsquerdo__botaoPrincipal{
    background-color: var(--cor-botãoAzul);
    text-decoration: none;
    color: var(--cor-fonte-botão);
    border-radius: 5px;
    padding: 1em;
    display: block;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 1em;
}

.section1__conteudoEsquerdo__botaoSecundario{
background-color: transparent;
border: 2px solid var(--cor-fonte-principal);
}

.section1__conteudoEsquerdo__descricao{
    color: var(--cor-fonte-descrição);
    font-weight: 400;
    font-size: 12px;
}

.section1__conteudoEsquerdo__imagem{
    margin: 1em 0 2em 0;
}

.section1__conteudoEsquerdo{
    margin: 0 6em;
}

.section2{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin: 0 120px 0 165px;
    gap: 69px;
    height: auto;
}

.section2__descricao{
    color: var(--cor-fonte-principal);
}

.section3{
    justify-content: center;
}

.section3__conteudoEsquerdo__botao{
    background-color: var(--cor-botãoAzul);
    text-decoration: none;
    padding: 16px;
    border-radius: 8px;
    color: var(--cor-fonte-botão);
    width: 162.68px;
    text-align: center;
}

.section3__imagem{
    width: 496px;
    height: 338.96px;
}

.section3{
    display: flex;
    box-sizing: border-box;
    margin: 0 166px 0 120px;
    align-items: center;
    gap: 70px;
}

.section3__conteudoEsquerdo{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section4{
    display: flex;
    box-sizing: border-box;
    margin: 0 120px 0 141px;
    align-items: center;
    gap: 44px;
    justify-content: center;
    
}

.section4__imagem{
    width: 547px;
    height: 324px;
}

.section4__conteudoEsquerdo{
    gap: 8px;
}

.section4__conteudoEsquerdo__titulo{
    font-size: 48px;
}

.section5{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: auto;
    margin-bottom: 100px;
}

.section5__descricao{
    display: flex;
    text-align: center;
}

.section5__descricao__conteudo{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.section5__titulo{
    font-weight: 700;
    font-size: 48px;
}

.section5__descricao__conteudo__paragrafo{
    font-size: 32px;
}

.section6{
    margin-top: 0px;
    text-align: center;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 120px 10px 120px;
}

.footer__lista{
    display: flex;
    list-style-type: none;
    gap: 16px;
    margin: 40.71px 0 24px 0;
}
.footer__lista__conteudo__texto{
    color: var(--cor-fonte-principal);
}

.footer__descricao{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 14px;
    color: var(--cor-fonte-descrição);
}

.footer__descricao_principal{
    margin-bottom: 8px;
}


@media screen and (max-width: 768px){
    .section1{
        display: flex;
        background: none;
        justify-content: center;
        height: 80vh;
    }

    .section1__conteudoEsquerdo__imagem{
        width: 17rem;
    }

    .conteiner{
        display: flex;
        align-items: center;
    }

    .section2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section2__imagem{
        width: 17rem;
    }

    .section2__descricao{
        width: 18rem;
        align-items: center;
    }

    .section3{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .section3__imagem{
        width: 18rem;
        justify-content: center
    }

    .section4{
        display: flex;
        flex-direction: column;
    }

    .section4__imagem{
        width: 20rem;
        height: 15rem;
    }

    .section5{
        display: flex;
    }

    .section5__titulo{
        text-align: center;
    }

    .section5__descricao{
        flex-direction: column;
    }

    .section5__descricao__conteudo{
        width: 18rem;
    }

    .footer__lista{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .footer__descricao{
        width: 20rem;
    }
}


